<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Alterar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="principal">
      <div class="nome">
        <ion-label>Nome</ion-label>
        <ion-input [(ngModel)]="produto.nome"></ion-input>
      </div>
      <div class="valor">
        <ion-label>Valor</ion-label>
        <ion-input [(ngModel)]="produto.valor" type="number"></ion-input>

        <button expand="block" (click)="salvar()">Salvar</button>
      </div>
    </div>

</ion-content>
