<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>📦 Cadastrar Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <div class="principal">
        <ion-input
        [(ngModel)]="novo_produto.nome"
        placeholder="Nome do produto"
        >
        </ion-input>
        <ion-input
        [(ngModel)]="novo_produto.valor"
        placeholder="Valor do produto"
        type="number"
        >
        </ion-input>

            <button (click)="cadastrarProduto()">
        <ion-icon name="add-outline"></ion-icon>Cadastrar Produto
            </button>
      </div>

</ion-content>
