ion-toolbar {
  --background: #121212;
}

ion-title {
  text-align: center;
  color: #ff0084;
  margin-right: 24px;
}

ion-title:hover {
  opacity: 0.5;
  transition: 0.5s;
}

ion-input {
  width: 80vw;
  margin: auto;
  background: #181818;
  margin-top: 20px;
  text-align: center;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: #ff0084;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  height: 30px;
  background: #ff0084;
  margin: 25px auto;
  border-radius: 5px;
}

button:hover {
  scale: 115%;
  transition-property: scale;
  transition-duration: 150ms;
  filter: brightness(1.1);
}
